<meta name="viewport" content="width=device-width, initial-scale=1" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <h1 class="title">Tarea 1: Consumir una API</h1>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= link_to('Home', root_path, :class => "button is-link is-inverted") %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <%= form_tag characters_index_path, :method => "get" do %>
          <%= label_tag :search, "Character Search" %>
          <%= text_field_tag :search, params[:search], :placeholder => "Type your search" %>
          <%= submit_tag  "Search", :name => nil%>
        <%end %> <br>
      </div>
    </nav>
    <div class="level">
      <div class="level-item">
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
        <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <h1 class="title">Search Results </h1>
      </div>
    </nav>
    <%@busqueda.each do |char| %>
      <nav class="level">
        <div class="level-item">
          <br>
          <td><%= link_to char["name"], character_path(char["name"].gsub(/\s+/, "%")) %> </td>
        </div>
      </nav>
    <% end %>
  </div>
</section>
<section class="section">
  <nav class="level-left">
    <div class="level-item">
        <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-warning">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-danger">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-info">
          <i class="fas fa-atom"></i>
        </span>
      <span class="icon has-text-success">
          <i class="fas fa-atom"></i>
        </span>
    </div>
  </nav>
</section>
<footer class="footer">
  <div class="container">
    Copyright © 2021 Tarea 1 Antonia Christensen. All rights reserved.
    <div class="level-right">
      <p class="level-item">
      </p>
    </div>
  </div>
</footer>